<h1><%#= image_tag current_user.icon %> <%= current_user.name %>さんお気に入りブログ！</h1>

   
   <div class="row">

    <% @favorites_pictures.each do |favorete| %>


      <div class="col-xs-12 col-md-3">
        <table border=0>

          <tr>
            <td><%= image_tag(favorete.image) %></td>
          </tr>
          <tr>
            <td>内容:<%= favorete.content %></td>
          </tr> 
          <tr>
         <td><%= link_to '詳細', picture_path(favorete), class:"btn btn-info" %></td>
         </tr>
        </table>
        <br>
      </div>
    <% end %>
  </div>